<textarea
  rows="12"
  cols="80"
  aria-label="Example text"
  {{on "input" this.setText}}
>
  {{~this.text~}}
</textarea>

<br />
<br />

<div class="ugc">
  {{! template-lint-disable no-unnecessary-curly-strings }}
  {{~""~}}
  <WrapUrls
    @Url={{component "wrap-urls/link" target="_blank"}}
    @text={{this.text}}
  />
</div>

{{!outlet}}