<textarea rows="12" cols="80" {{on "input" this.setText}}>
  {{~this.text~}}
</textarea>

<br />
<br />

<div class="ugc">
  {{~""~}}
  <WrapUrls
    @Url={{component "wrap-urls/link" target="_blank"}}
    @text={{this.text}}
  />
</div>

{{!outlet}}